@use "variables" as v;
@use "mixins" as m;

.adopciones-page {
    padding: 20px;
    text-align: center;

    h2 {
        color: v.$color-text;
        margin-bottom: 25px;
        font-weight: bold;
        @include m.slide-up(0.6s);
    }

    .animal-card {
        position: relative;
        background-color: v.$color-white;
        padding: 15px;
        text-align: center;
        cursor: pointer;

        @include m.rounded(12px);
        @include m.shadow(0 2px 10px rgba(0, 0, 0, 0.1));
        @include m.transition(transform 0.3s ease);
        @include m.slide-up(0.7s);

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 12px;
            transition: 0.3s ease;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: v.$color-white;
            border-radius: 12px;
            opacity: 0;
            transition: opacity 0.3s ease;
            pointer-events: none;
        }

        &.no-disponible {
            cursor: not-allowed;

            &:hover img {
                filter: blur(3px) brightness(0.6);
            }

            &:hover .overlay {
                opacity: 1;
            }
        }
    }
}