@use "variables" as v;
@use "mixins" as m;

//* Header *//
header {
    background-color: v.$color-header-bg;
    color: v.$color-header-text;
    padding: 20px;

    img {
        width: 100px;
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        @include m.rounded(50%);
    }

    h2 {
        text-align: center;
        margin: 30px 0;
        color: v.$color-text;
        font-size: 2rem;
        font-weight: bold;
    }
}

//* Nav general *//
nav {
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        margin: 10px 0 0 0;
        list-style: none;
        padding: 0;

        li {
            a {
                text-decoration: none;
                color: v.$color-text;
                font-weight: bold;
                @include m.transition(color);

                &.active {
                    color: v.$color-text-active;
                    font-weight: bolder;
                }

                &:hover {
                    color: v.$color-text-active;
                }
            }
        }
    }
}