@use "variables" as v;
@use "mixins" as m;

@keyframes slideFadeUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.mascotas-page {
    padding: 20px;
    text-align: center;

    h2 {
        color: v.$color-text;
        margin-bottom: 25px;
        font-weight: bold;
    }

    .galeria-grid {
        @include m.flex-center(20px, wrap);
        padding: 20px;

        .animal-card {
            background-color: v.$color-white;
            @include m.rounded(10px);
            overflow: hidden;
            width: 250px;
            @include m.shadow();
            text-align: center;


            opacity: 0;
            transform: translateY(20px);
            animation: slideFadeUp 0.6s ease forwards;


            @include m.transition(transform 0.3s ease, box-shadow 0.3s ease);
            @include m.hover-scale(1.05, 0.3s);


            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    animation-delay: #{0.1s * $i};
                }
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                @include m.transition(transform 0.3s ease);

                &:hover {
                    transform: scale(1.1);
                }
            }

            h3 {
                margin: 10px 0;
                color: v.$color-text;
                font-size: 1.2rem;
            }

            p {
                padding: 0 10px 15px;
                color: v.$color-text-light;
                font-size: 0.95rem;
            }
        }
    }
}


@media (max-width: 768px) {
    .mascotas-page {
        .galeria-grid {
            flex-direction: column;
            align-items: center;
        }

        .animal-card {
            width: 90%;
        }
    }
}